body {
	margin: 0;
	font: 12px/18px Verdana, Arial, sans-serif;
	background: #ccc;
}

#wrapper {
	width: 798px;
	margin: 0 auto;
	border: solid #918f90;
	border-width: 0 2px;
	background: #fff;
	overflow: hidden;
}

#header {
	margin: 0;
	height: 119px;
	padding: 26px 58px 0 0;
	position: relative;
}

.logo {
	position: absolute;
	text-indent: -99999px;
	overflow: hidden;
	width: 246px;
	height: 119px;
	left: 41px;
	top: 1px;
}

.logo a {
	background: url(../images/logo.gif) no-repeat;
	display: block;
	height: 100%;
}

#slogan {
	float: right;
	width: 425px;
}

#slogan p {
	color: #652e86;
	font: 14px/22px Arial, sans-serif;
}

#nav {
	background: url(../images/bg-nav.gif) repeat-x;
	line-height: 43px;
	height: 43px;
	overflow: hidden;
	padding-left: 27px;
}

#nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}

#nav ul li {
	margin: 0;
	padding: 0;
	float: left;
}

#nav a {
	text-decoration: none;
	font-size: 13.5px;
	color: #fff;
	padding: 0 15px 0 14px;
	display: block;
}

.active {
	color: #ffd54e;
}

#nav li.active a:hover {
	color: #ffd54e;
}

#twocolumn {
	margin: 0;
	padding: 0;
	overflow: hidden;
	padding: 33px 0 17px 42px;
}

#content {
	float: left;
	width: 400px;
	margin-bottom: 7px;
}

/*#content h1 {
	font-size: 20px;
	color: #652d89;
	margin: 0 0 9px -1px;
}*/

#content ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#content li h2 {
	font-size: 14px;
	line-height: 16px;
	margin: 0 0 7px;
	color: #652d89;
}

#content li p {
	margin: 0 0 20px 0;
}

#content li:last-child p{
	margin: 0 0 2px;
}


#content dt {
	font-size: 14px;
	font-weight: bold;
	color: #652d89;
	margin-bottom: 6px;
}

#aside {
	float: right;
	width: 263px;
	padding: 3px 0 0 0;
}

#img-holder {
	float: right;
	width: 262px;
	height: 100%;
}

#link-holder{
	overflow: hidden;
	padding: 42px 70px 0 21px;
}

#link-holder p{
	margin: 0;
}

#aside a {
	text-decoration: none;
	color: #00a8ba;
}

#aside a:hover {
	text-decoration: underline;
}

#footer {
	clear: both;
	border-top: #f79c33 solid 3px;
	padding-left: 48px;
	padding-top: 9px;
	padding-bottom: 13px;
}

#footer p {
	margin: 0;
	font-size: 8.5px;
	line-height: 14px;
}

#mail-address {
	color: #00a8ba;
}